/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
  line-height: 1;
  overflow-x: hidden;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Font ---------------------------------------------------------------------------------------- */

@font-face {
  font-family: typewriter;
  src: url(uwch.ttf);
}

/* Elements ------------------------------------------------------------------------------------ */

h1 {
  font-size: calc(16px + 2.25vw);
  font-family: typewriter;
  color: rgb(100, 93, 69);
  z-index: 5;
  text-align: center;
  width: calc(60px + 30vw);
  margin: 0 auto;
}

h2 {
  font-size: calc(14px + 1vw);
  font-family: typewriter;
  color: rgb(224, 173, 158);
}

h3 {
  font-size: calc(18px + 0.5vw);
  font-family: typewriter;
  margin-bottom: calc(8px + 0.7vw);
  color: rgb(100, 93, 69);
}

h4 {
  font-size: calc(18px + 0.5vw);
  font-family: typewriter;
  margin-bottom: calc(8px + 0.7vw);
  color: rgb(224, 173, 158);
}

p {
  font-size: calc(14px + 0.4vw);
  margin-bottom: 5px;
}

button {
  outline: none;
}

button:hover {
  cursor: pointer;
}

input {
  outline: none;
  font-family: Arial, Helvetica, sans-serif;
}

textarea {
  outline: none;
  font-family: Arial, Helvetica, sans-serif;
}

select {
  outline: none;
}

label {
  font-family: Arial, Helvetica, sans-serif;
}

/* Main header --------------------------------------------------------------------------------- */

.container-admin-header {
  z-index: 11;
  display: flex;
  position: fixed;
  align-items: center;
  width: 100vw;
  height: calc(60px + 7vw);
  max-height: 20vh;
  background-color: white;
}

.container-page {
  display: flex;
  z-index: 1;
}

#nav-admin {
  z-index: 11;
  position: fixed;
  right: 5px;
  top: min(calc(60px + 7vw + 5px), 20vh + 5px);
  border: 1px solid rgb(153, 142, 106);
  outline: 5px solid rgb(255, 219, 88);
  background-color: rgb(220, 202, 152);
  font-size: calc(14px + 1vh);
  font-family: typewriter;
  padding: calc(14px + 1vh) calc(20px + 1vh);
  line-height: calc(20px + 2vh);
  transition: right 0.25s;
  -webkit-box-shadow: 9px 9px 14px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: 9px 9px 14px -4px rgba(0,0,0,0.75);
  box-shadow: 9px 9px 14px -4px rgba(0,0,0,0.75);
}

#nav-admin-hidden {
  z-index: 11;
  position: fixed;
  top: min(calc(60px + 7vw + 5px), 20vh + 5px);
  border: 1px solid rgb(153, 142, 106);
  outline: 5px solid rgb(255, 219, 88);
  background-color: rgb(220, 202, 152);
  font-size: calc(14px + 1vh);
  font-family: typewriter;
  padding: calc(14px + 1vh) calc(20px + 1vh);
  line-height: calc(20px + 2vh);
  right: -200px;
  transition: right 0.25s;
  -webkit-box-shadow: 9px 9px 14px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: 9px 9px 14px -4px rgba(0,0,0,0.75);
  box-shadow: 9px 9px 14px -4px rgba(0,0,0,0.75);
}

.container-scroll {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.subheader-client {
  margin-bottom: calc(10px + 2vw);
  margin-top: calc(10px + 2vw);
}

.link:link {
  text-decoration: none;
  color: rgb(100, 93, 69);
  -webkit-tap-highlight-color: transparent;
}

.link:visited {
  text-decoration: none;
  color: rgb(100, 93, 69);
}

.link:hover {
  color: rgb(138, 128, 96);
}

/* Gallery Manager ----------------------------------------------------------------------------- */

.container-loader {
  position: fixed;
  top: calc(50vh - 37.5px);
  left: calc(50vw - 37.5px);
  width: 75px;
  height: 75px;
  z-index: 5;
}

.container-loader-hidden {
  visibility: hidden;
}

.body-gallery {
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
}

.container-gallery-row {
  display: flex;
  flex-direction: row;
  margin: auto;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 40px;
}

.container-gallery-img {
  width: calc(220px + 20vw);
  height: calc(150px + 4vw);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto 40px auto;
}

.img-gallery {
  height: calc(150px + 4vw);
  border: 1px solid #BFBFBF;
  box-shadow: 10px 10px 5px #aaaaaa;
}

.wrapper-arrows-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: calc(180px + 42vw);
  max-width: calc(280px + 27vw);
  margin: 0 auto;
}

.container-up-down {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50px;
  width: 60px;
  margin: 10px auto;
}

.arrow-up {
  height: 20px;
  margin: 0 auto 10px auto;
  opacity: 0.55;
}

.arrow-up:hover {
  cursor: pointer;
}

.arrow-down {
  height: 20px;
  margin: 0 auto;
  opacity: 0.55;
}

.arrow-down:hover {
  cursor: pointer;
}

.container-gallery-title-description {
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  width: 80%;
  width: calc(200px + 27vw);
  margin: 0 auto;
}

.form-gallery {
  border: 1px solid rgb(153, 142, 106);
  outline: 5px solid rgb(255, 219, 88);
  display: flex;
  flex-direction: column;
  padding: calc(10px + 1vw);
  margin: 30px auto 80px auto;
  width: calc(180px + 20vw);
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(220, 202, 152);
  -webkit-box-shadow: 9px 9px 14px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: 9px 9px 14px -4px rgba(0,0,0,0.75);
  box-shadow: 9px 9px 14px -4px rgba(0,0,0,0.75);
}

.text-gallery-form-header {
  color: rgb(100, 93, 69);
}

.input-description {
  font-size: calc(14px + 0.4vw);
  height: calc(100px - 1vw);
  width: 85%;
  margin: 0 auto;
  margin-bottom: calc(12px + 0.7vw);
}

.input-gallery-title {
  height: 30px;
  font-size: 20px;
  width: 90%;
}

.input-gallery-description {
  height: 50px;
  font-size: 20px;
  width: 90%;
}

.container-gallery-inputs {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
}

.input-gallery-file {
  font-size: calc(14px + 0.4vw);
  width: calc(190px + 6vw);
  color: rgb(100, 93, 69);
  margin-bottom: calc(12px + 0.7vw);
}

.input-gallery-file:hover {
  cursor: pointer;
}

.button-gallery-post {
  font-size: calc(14px + 0.4vw);
  background-image: linear-gradient(rgb(219, 178, 166), rgb(219, 154, 135));
  color: rgb(100, 93, 69);
  padding: 5px 7px;
}

.button-gallery-post:hover {
  background-image: linear-gradient(rgb(247, 222, 131), rgb(248, 204, 44));
}

.form-gallery-edit {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-buttons {
  display: flex;
}

/* Events Manager ------------------------------------------------------------------------------ */

.form-1-events-row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 85%;
  margin-bottom: calc(12px + 0.7vw);
}

.form-2-events-row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 98.5%;
  margin-bottom: 5px;
}

.label-1-date-time {
  margin-bottom: 5px;
  color: rgb(100, 93, 69);
  font-size: calc(14px + 0.3vw);
  justify-self: flex-start;
  width: 35%;
  margin-right: auto;
}

.label-2-date-time {
  margin-bottom: 5px;
  font-size: calc(14px + 0.3vw);
  justify-self: flex-start;
  margin-right: auto;
}

.container-date-time-column {
  display: flex;
  flex-direction: column;
  width: calc(115px + 2.4vw);
}

.input-date-time {
  width: 100%;
  font-size: 14px;
}

.container-events-img {
  width: calc(280px + 5vw);
  height: calc(150px + 4vw);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
  margin-left: 70px;
  margin-right: 70px;
}

.container-events-title-description {
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  width: calc(200px + 27vw);
  margin: 0 auto;
}

/* About Manager ------------------------------------------------------------------------------- */

.container-about-render {
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

/* Store Manager ------------------------------------------------------------------------------- */

.container-store-form-row {
  display: flex;
  width: 85%;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container-store-form-column {
  display: flex;
  flex-direction: column;
  width: 100px;
  margin-bottom: calc(12px + 0.7vw);
}

.container-store-category-buttons {
  display: flex;
  flex-wrap: wrap;
  width: 75%;
  justify-content: space-evenly;
}

.button-carousel:hover {
  opacity: 1;
}

.button-carousel:hover {
  cursor: pointer;
  opacity: 100%;
}

.button-store-category {
  font-size: 20px;
  display: inline-block;
  padding: 0.7em 1.4em;
  margin: 10px auto;
  border-radius: 0.15em;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  color: rgb(100, 93, 69);
  background-color: rgb(224, 173, 158);
  box-shadow: inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
  text-align: center;
  position: relative;
  outline: none;
}

.button-store-category:hover {
  background-color: rgb(255, 219, 88);
}

.container-store-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(200px + 27vw);
  margin: 0 auto;
}

.img-store {
  height: 100%;
  margin: 0 auto;
}

.container-store-img {
  overflow: hidden;
  width: calc(220px + 7.5vw);
  height: calc(130px + 4vw);
  display: flex;
  justify-content: center;
}

#form-store-edit-photo {
  display: flex;
  flex-direction: column;
  width: 100%;
  width: calc(220px + 10vw);
  margin-bottom: 20px;
}

#form-events-edit-photo {
  display: flex;
  flex-direction: column;
  width: calc(220px + 10vw);
  margin-bottom: 20px;  
}

/* Contact Manager ----------------------------------------------------------------------------- */

.container-contact-row {
  display: flex;
  margin: 20px auto;
  justify-content: space-between;
  width: 600px;
}

/* Landing Page -------------------------------------------------------------------------------- */

.container-landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 100vw;
}

#form-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.input-landing {
  font-size: calc(14px + 0.4vw);
  width: 85%;
  margin: 0 auto;
  margin-bottom: calc(12px + 0.7vw);
}

.container-landing-button {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.link-landing:link {
  text-decoration: none;
  color: rgb(100, 93, 69);
}

.link-landing:visited {
  text-decoration: none;
  color: rgb(100, 93, 69);
}

.link-landing:hover {
  color: rgb(138, 128, 96);
}

/* Client -------------------------------------------------------------------------------------- */

.container-main-header {
  z-index: 10;
  display: flex;
  position: fixed;
  align-items: center;
  width: 100vw;
  height: calc(60px + 7vw);
  max-height: 20vh;
  background-color: white;
}

.banner {
  position: fixed;
  opacity: 30%;
  width: 100vw;
  height: calc(60px + 7vw);
  max-height: 20vh;
  object-fit: cover;
  z-index: 12;
}

.container-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  height: calc(60px + 7vw);
  max-height: 20vh;
}

.logo {
  height: 80%;
  margin-left: calc(7px + 1vw);
  margin-top: auto;
  margin-bottom: auto;
}

.container-logo-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  height: calc(60px + 7vw);
  width: calc(60px + 7vw);
  max-height: 20vh;
  max-width: 20vh;
  z-index: 13;
}

.logo-home {
  height: 80%;
  width: 80%;
  border-radius: calc(24px + 2.8vw);
  margin-left: calc(8px + 1.2vw);
  margin-top: auto;
  margin-bottom: auto;
}

.logo-home:hover {
  cursor: pointer;
}

.container-h1 {
  justify-self: center;
  margin: 0 auto;
  z-index: 12;
}

.container-icons {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  align-items: center;
  height: calc(60px + 7vw);
  max-height: 20vh;
  z-index: 13;
}

.button-cart {
  height: calc(16px + 2vw);
  width: calc(16px + 2vw);
  margin-right: calc(7px + 1.9vw);
  -webkit-transition: all .25s linear;
  -webkit-tap-highlight-color: transparent;
  transition: all .25s linear;
}

.button-cart:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  cursor: pointer;
}

.button-hamburger {
  height: calc(16px + 2vw);
  width: calc(16px + 2vw);
  margin-right: calc(7px + 1.9vw);
  margin-top: calc(8px + 0.6vw);
  -webkit-transform: translateY(-20%);
  transform: translateY(-20%);
  -webkit-transition: all .25s linear;
  transition: all .25s linear;
}

.button-hamburger:hover {
  -webkit-transform: translateY(-20%) scale(1.1);
  transform: translateY(-20%) scale(1.1);
  cursor: pointer;
}

.wrapper-nav-client {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 13;
  height: 100vh;
  width: 100vw;
  transition: left 0.25s;
}

.wrapper-nav-client-hidden {
  left: 100vw;
  transition: left 0.25s;
}

#nav-client {
  z-index: 14;
  position: fixed;
  right: 5px;
  top: min(calc(60px + 7vw + 5px), 20vh + 5px);
  border: 1px solid rgb(153, 142, 106);
  outline: 5px solid rgb(255, 219, 88);
  background-color: rgb(220, 202, 152);
  font-size: calc(14px + 1vh);
  font-family: typewriter;
  padding: calc(14px + 1vh) calc(20px + 1vh);
  line-height: calc(20px + 2vh);
  transition: right 0.25s;
  -webkit-box-shadow: 9px 9px 14px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: 9px 9px 14px -4px rgba(0,0,0,0.75);
  box-shadow: 9px 9px 14px -4px rgba(0,0,0,0.75);
}

#nav-client-hidden {
  z-index: 11;
  position: fixed;
  top: min(calc(60px + 7vw + 5px), 20vh + 5px);
  border: 1px solid rgb(153, 142, 106);
  outline: 5px solid rgb(255, 219, 88);
  background-color: rgb(220, 202, 152);
  font-size: calc(14px + 1vh);
  font-family: typewriter;
  padding: calc(14px + 1vh) calc(20px + 1vh);
  line-height: calc(20px + 2vh);
  right: -200px;
  transition: right 0.25s;
  -webkit-box-shadow: 9px 9px 14px -4px rgba(80, 46, 46, 0.75);
  -moz-box-shadow: 9px 9px 14px -4px rgba(0,0,0,0.75);
  box-shadow: 9px 9px 14px -4px rgba(0,0,0,0.75);
}

.slider {
  height: calc(100vh - min(calc(60px + 7vw), 20vh) - 40px - 7.5vw);
  max-height: 60vw;
  width: 90vw;
  outline: none;
  overflow: hidden;
  margin-bottom: 60px;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
}

.slick-prev {
  margin-left: 30px;
  z-index: 1;
}

button.slick-arrow.slick-next,
  button.slick-arrow.slick-prev {
  transform: translateY(-10px) scale(1.25);
  -webkit-transform: translateY(-10px) scale(1.25);
  -moz-transform: translateY(-10px) scale(1.25);
}

.slick-next {
  margin-right: 30px;
  z-index: 1;
}

.slick-prev:before, .slick-next:before { 
  color:grey !important;
}

.container-image-gallery {
  height: calc(100vh - min(calc(60px + 7vw), 20vh) - 40px - 7.5vw);
  max-height: 60vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.image-gallery {
  height: 100%;
  max-width: 89vw;
  object-fit: cover;
  margin: 0 auto;
}

.image-gallery:hover {
  cursor: pointer;
}

.container-grid {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  width: 90vw;
  justify-content: space-evenly;
}

.container-image-grid {
  box-sizing: border-box;
  width: 250px;
  height: 150px;
  margin: 0 5px 60px 5px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.container-image-grid-cart {
  box-sizing: border-box;
  width: 250px;
  height: 150px;
  margin: 0 5px 20px 5px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.image-grid {
  height: 150px;
  margin: 0 auto;
}

.image-grid:hover {
  cursor: pointer;
}

.modal-image-zoom {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: black;
  z-index: 11;
  transition: all 0.45s ease-in-out;
  -webkit-transition: all 0.45s ease-in-out;
}

.modal-image-zoom:hover {
  cursor: pointer;
}

.container-modal-image {
  top: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 12;
  outline: none;
  transition: all 0.45s ease-in-out;
  -webkit-transition: all 0.45s ease-in-out;
}

.container-modal-image:hover {
  cursor: pointer;
}

.modal-image {
  position: relative;
  max-height: 90vh;
  max-width: 90vw;
  object-fit: contain;
  outline: none;
  margin: auto;
  transition: all 0.45s ease-in-out;
  -webkit-transition: all 0.45s ease-in-out;
}

.modal-image:hover {
  cursor: pointer;
}

.zoom-active {
  opacity: 90%;
}

.active {
  opacity: 100%;
}

.fadeout {
  opacity: 0;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.container-image-about {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100vw;
  margin-bottom: 20px;
  align-items: flex-start;
  overflow: hidden;
}

.image-about {
  max-height: 420px;
  max-width: min(572px, 90vw);
  object-fit: contain;
  margin: 0px 20px 20px 20px;
}

.container-bio {
  width: min(572px, 90vw);
  margin: 0 20px;
  line-height: 28px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.buffer {
  height: calc(60px + 7vw);
  max-height: 20vh;
}

.container-gallery-page {
  display: flex;
  width: 90vw;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  /* border: 1px solid red; */
}

.container-client-header {
  display: flex;
  flex-wrap: wrap;
  overflow-x: hidden;
  width: 100vw;
}

.container-calendar {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
}

.container-image-events {
  display: flex;
  flex-direction: column;
  width: min(90vw, 572px);
  align-items: center;
  margin: 0 auto;
}

.wrapper-image-buttons-events {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  width: min(90vw, 572px);
  margin: 0 auto auto auto;
}

.image-events {
  height: calc(120px + 10vw);
  margin: 0 auto;
}

.image-events:hover {
  cursor: pointer;
}

.container-client-events {
  box-sizing: border-box;
  width: min(90vw, 572px);
  line-height: 28px;
  margin: 0px auto 40px auto;
  border: 1px solid #BFBFBF;
  box-shadow: 10px 10px 5px #aaaaaa;
  padding: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container-item-store-client {
  width: min(90vw, 572px);
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto auto auto;
  justify-content: center;
  align-items: flex-start;
}

.container-image-store-client {
  width: 286px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  object-fit: contain;
}

.image-store-client {
  width: min(90vw, 286px);
  align-self: flex-start;
}

.image-store-client:hover {
  cursor: pointer;
}

.header-store-title-client:hover {
  cursor: pointer;
}

.container-title-price-client {
  box-sizing: border-box;
  padding: 10px 0px 10px 10px;
  text-align: right;
  width: 286px;
  margin: 0 auto;
}

.price {
  font-family: typewriter;
  font-size: calc(16px + 1vw);
  color: rgb(100, 93, 69);
}

.image-store-item {
  max-height: 420px;
  max-width: min(572px, 90vw);
  object-fit: contain;
  margin: 0px 10px 20px 10px;
  /* border: 1px solid red; */
}

.image-store-item:hover {
  cursor: pointer;
}

.container-category-buttons-client {
  position: fixed;
  display: flex;
  justify-content: center;
  right: 0;
  width: 290px;
  background-color: white;
  padding: 10px 5px;
  box-sizing: border-box;
  height: 50px;
}

.button-category-client {
  background-color: rgb(224, 173, 158);
  font-size: 14px;
  font-family: typewriter;
  color: rgb(100, 93, 69);
  border: 1px solid rgb(100, 93, 69);
  box-shadow: inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
  margin: 0 auto;
}

.button-category-client:hover {
  background-color: rgb(220, 202, 152);
}

.button-category-client:active {
  background-color: rgb(138, 128, 96);
}

.subheader-client-store {
  margin-bottom: calc(10px + 2vw);
  margin-top: calc(10px + 2vw);
}

.slider-store {
  height: 80vh;
  max-height: 70vw;
  width: 90vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  outline: none;
  overflow: hidden;
  -webkit-tap-highlight-color: transparent;
}

.container-image-slider-store {
  height: 80vh;
  max-height: 70vw;
  width: 90vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto 0;
  outline: none;
}

.image-slider-store {
  height: min(80vh, 70vw);
  max-width: 90vw;
  object-fit: contain;
  margin: auto;
  outline: none;
}

.button-add-cart-client {
  background-color: rgb(224, 173, 158);
  font-size: 14px;
  font-family: typewriter;
  color: rgb(100, 93, 69);
  border: 1px solid rgb(100, 93, 69);
  box-shadow: inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
  padding: 6px;
}

.button-add-cart-client:hover {
  background-color: rgb(220, 202, 152);
}

.button-add-cart-client:active {
  background-color: rgb(138, 128, 96);
}

@media only screen and (max-device-width: 823px) {

  .container-category-buttons-client {
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100vw;
    width: 290px;
    right: calc(50vw - 145.5px);
    justify-self: center;
    background-color: white;
    padding: 10px;
    box-sizing: border-box;
    height: 50px;
    margin: 0 auto;
  }

  .button-category-client {
    background-color: rgb(224, 173, 158);
    font-size: 14px;
    font-family: typewriter;
    color: rgb(100, 93, 69);
    border: 1px solid rgb(100, 93, 69);
    margin: 0 5px;
  }

  .subheader-client-store {
    margin-bottom: calc(10px + 2vw);
    margin-top: 80px; 
    margin-top: calc(54px + 2vw);
  }
}